@page "/"
@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>@text</h1>

<p>Welcome to your new app.</p>

@code {
    private string text = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        await GetText();
    }

    private async Task GetText()
    {
        try
        {
            text = await http.GetStringAsync("api/Function1");
        }
        catch (Exception ex)
        {
            text = $"エラーが発生しました: {ex.Message}";
        }
    }
}